#Problem Solving Exercise

##1. 
เขียนโปรแกรมที่เช็คว่า คำที่ตรวจสอบเป็น palindrome หรือไม่
Palindrome คือ การอ่าน จาก ซ้ายมาขวาหรือ ขวามาซ้ายได้คำเดียวเดียวกัน
Example:
TENET, racecar, madam, and refer → เป็น Palindrome
Test, race ไม่เป็น Palindrome
Func IsPalindrome → return true/false

In [1]:
def IsPalindrome(word):
  return word == word[::-1]

ex.

In [10]:
print('word : Yes >>>', IsPalindrome('Yes'))
print('word : aba >>>', IsPalindrome('aba'))

word : Yes >>> False
word : aba >>> True

##2. 
ให้ตรวจสอบค่าจาก list of number ถ้าค่าแรก และค่าสุดท้ายเป็น เลขเดียวกัน ให้ return true ถ้าไม่
return false

In [18]:
def checkFirstandLast(lists):
  print('Given list is', lists)
  print('result is', lists[0] == lists[-1])
  return lists[0] == lists[-1]

ex.

In [19]:
a = [11, 20, 11]
b = [10, 20, 30, 20, 50]
print(checkFirstandLast(a))
print(checkFirstandLast(b))

Given list is [11, 20, 11]
result is True
True
Given list is [10, 20, 30, 20, 50]
result is False
False

##3.
เขียนโปรแกรมคำนวน ภาษีรายได้ ได้รับค่าเป็นรายได้ต่อปี และนำไปคำนวนจากตารางภาษีด้านล่าง
โดยอัตราภาษีคิดเป็นขั้นบันไดของรายได้ตามตาราง

In [335]:
def TaxRate(income, lim ):
  
  if min(lim) <= income <= max(lim):
    income_2 = min(lim)
    income_1 = income - min(lim) 
  elif income > max(lim):
    income_2  = income - max(lim)
    income_1 = max(lim)    

  return income_1, income_2

In [336]:
def Tax_all(income):
  income_1 = 0
  income_2 = 0
  income_3 = 0

  income_1, income_2 = TaxRate(income, [0,10000])

  if income_2 > 20000:
    income_2, income_3 = TaxRate(income_2, [10000, 20000])

  return income_1 * 0+ income_2 * 0.05 + income_3 * 0.1

In [337]:
Tax_all(12000)

100.0

##4.
Employee smith = new Employee(&quot;Joe Smith&quot;);
smith.setPosition(&quot;Programmer&quot;);
smith.setSalary(90000);
System.out.writeln(smith.getName());
System.out.writeln(smith.getSalary());

Result:
Joe Smith : Programmer
90000 **Bath**

In [234]:
class Person:
  def __init__(self, name):
    self.__name = name

  def getName(self):
    return self.__name

  def getSpouse(self):
    return self.__spouse

  def setSpouse(self,  spouse = 'Person'):
    self.__spouse = spouse



class Employee(Person):
    def __init__(self, name):
        super().__init__(name)

    def setPosition(self, pos):
        self.pos = pos

    def setSalary(self, sal):
        self.__sal = sal

    def getSalary(self):
      return self.__sal

In [235]:
smith = Employee('Joe Smith')
smith.setPosition('Programmer')
smith.setSalary(90000)
print(smith.getName())
print(smith.getSalary())

Joe Smith
90000